* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER STYLING */
header h1 {
  text-align: center;
}

/* ARTICLE STYLING */

.container {
  display: flex;
  justify-content: center;
}

/* CUSTOMIZE AREA STYLING */

.customize {
  text-align: center;
  width: 100%;
  background-color: purple;
}

/* GRID STYLING */

.grid {
  /* background-color: yellow; */
}

/* INSERTS AREA STYLING */

.inserts {
  width: 100%;
  background-color: blue;
}

/* CONTROLLERS AREA STYLING */

.controllers {
  text-align: center;
  background-color: green;
}
